# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.sample

# Composer
vendor/*
!vendor/.gitkeep


## macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

## Eclipse ###
# General
.buildpath
.project
.settings/*

# User-specific stuff
.idea